---
import TagBtn from "../components/TagBtn.astro";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>
    Written by {frontmatter.author} published: <span
      >{frontmatter.pubDate.slice(0, 10)}</span
    >
  </p>
  <slot />
  {
    frontmatter.tags.map((tag) => (
      <TagBtn url={`http://localhost:4321/tags/${tag}`} tag={tag} />
    ))
  }
</BaseLayout>
